<!-- header -->
<header id="app-header">
  <div class="container">
    <div class="row text-white">
      <div class="col-6">
        <%= image_tag current_site.the_logo, class: "img-fluid float-left logo" %>
        <ul class="list-unstyled marca">
          <li class="alcaldia"><%= current_site.the_title %></li>
          <li class="liderando"><%= current_site.the_content %></li>
        </ul>
      </div>
      <div class="col-6">
        <!-- Iconos -->
        <div class="row top-icons">
          <div class="col-12 text-right">
            <a href="#">
              <i class="fa fa-cog" aria-hidden="true"></i>
            </a>
            <a href="#">
              <i class="fa fa-question-circle" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <!-- /Iconos -->
        <!-- Navegacion -->
        <div class="col navegacion mt-2">
          <div class="row">
            <div class="col">
              <nav class="navbar navbar-expand-lg navbar-default text-right">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                  aria-expanded="false" aria-label="Toggle navigation">
                  <i class="fa fa-bars" aria-hidden="true"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav">
                    <% cama_menu_parse_items(current_site.nav_menus.find_by_slug('gel_main_menu').children).each do |item| %>
                      <li class="nav-item active align-self-end">
                        <a class="nav-link" href="<%= item[:url] %>"><%= item[:label] %></a>
                      </li>
                    <% end %>
                </div>
              </nav>
            </div>
          </div>
        </div>
        <!-- /Navegacion -->
      </div>
    </div>
  </div>
</header>
<!-- /header -->