<!-- header -->
<header id="app-header">
  <div class="container">
    <div class="row text-white">
      <div class="col-5">
        <%= image_tag current_site.the_logo, class: "img-fluid float-left logo" %>
        <ul class="list-unstyled marca">
          <li class="alcaldia"><%= current_site.the_title %></li>
          <li class="liderando"><%= current_site.the_content %></li>
        </ul>
      </div>
      <div class="col-7">
        <!-- Iconos -->
        <div class="row top-icons">
          <div class="col-12 text-right">
            <a href="#">
              <i class="fa fa-cog" aria-hidden="true"></i>
            </a>
            <a href="#">
              <i class="fa fa-question-circle" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <!-- /Iconos -->
        <!-- Navegacion -->
        <div class="col navegacion mt-2">
          <div class="row">
            <div class="col-11 offset-1">
              <ul class="nav nav-pills">
                <% cama_menu_parse_items(current_site.nav_menus.find_by_slug('gel_main_menu').children).each do |item| %>
                  <li class="nav-item">
                    <a class="nav-link <%= 'active' if site_current_path == item[:url] %>" href="<%= item[:url] %>"><%= item[:label] %></a>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <!-- /Navegacion -->
      </div>
    </div>
  </div>
</header>
<!-- /header -->