<!DOCTYPE html>
<html lang="en">
<head>
    <!-- META SECTION -->
    <title><%= current_site.the_title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- END META SECTION -->

    <%= stylesheet_link_tag theme_asset_path("css/main") %>
    <%= javascript_include_tag theme_asset_path("js/main.js") %>
    <%= raw the_head %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
    crossorigin="anonymous">

  <style>

    .main-color {
      background-color: <%= current_theme.the_field("main_color") %>;
    }

    .secondary-color {
      color: <%= current_theme.the_field("secondary_color") %>;
    }

    .text-color {
      color: rgb(4, 57, 80);
    }

    #app-header .dropdown-menu {
      border: 1px solid white;
      background-color: <%= current_theme.the_field("main_color") %>;
    }
    
    #app-header .dropdown.show {
      background-color: <%= current_theme.the_field("secondary_color") %>;
      border-radius: 5px;
    }
    
    #app-header .dropdown a:hover {
      background-color: <%= current_theme.the_field("secondary_color") %>;
    }

    /* Color "activo" del navbar */
    #app-header .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
      background-color: <%= current_theme.the_field("secondary_color") %>;
    }

    /* Color de las esquinas badge */
    #app-noticias .badge-corner {
      border-top-color: <%= current_theme.the_field("secondary_color") %>;
    }

    /* Color de las letras en los tramites */
    #app-tramites .nav-pills a {
      color: rgb(4, 57, 80);
      font-size: 16px;
    }

    /* Color "activo" de las pestañas de tramites y servicios */
    #app-tramites .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
      color: white;
      background-color: rgb(4, 57, 80);
    }

    /* Color del borde divisor de la seccion de tramites */
    #app-tramites .tramites {
      border-right: 1px solid rgb(4, 57, 80);
    }

    /* Color de las letras en la seccion tramites */
    #app-tramites .ayuda h6,
    #app-tramites .ayuda small,
    #app-tramites .ayuda i {
      color: rgb(4, 57, 80);
    }

    /* Color de fondo de la seccion "conocenos" */
    #app-conocenos {
      background-color: rgb(92, 91, 91);
    }

    /* color de los links de la seccion conocenos */
    #app-conocenos .conocenos-mas li a {
      color: rgb(20, 167, 20);
    }

    #app-canales {
      color: rgb(4, 57, 80);
    }
  </style>
</head>
<body>
  <!-- container -->
  <div class="seccion1">
      <!-- header -->
      <%= render "layouts/header" %>
      <!-- ./header -->

      <div class="content">
          <%= yield %>
      </div>

      <!-- footer -->
      <%= render "layouts/footer" %>
      <!-- ./footer -->

      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
          crossorigin="anonymous"></script>
      <!-- Font Awesome -->
      <script src="https://use.fontawesome.com/2b13307e01.js"></script>
  </div>
  <!-- ./container -->
</body>
</html>
