<div class="row mt-5 mb-3">
  <div class="col-4">
    <div class="row img-noticia">
      <div class="col">
        <img src="<%= post.the_thumb_url%>" alt="<%= post.the_title %>">
      </div>
    </div>
  </div>
  <div class="col-7">
    <div class="row">
      <p>
        <strong class="text-uppercase">
          <a rel="bookmark" href="<%= post.the_url %>"><%= post.the_title %></a>
        </strong>
      </p>
    </div>
    <div class="row">
      <p>
        <%= raw post.the_excerpt %>
      </p>
    </div>
    <div class="row">
      <span class="badge badge-success"><%= post.the_created_at %></span>
    </div>
  </div>
</div>
