<div class="row justify-content-center">
  <div class="col-8 offset-1 contenedor mt-2 mb-2">
    <div class="row mt-5 text-color ml-1">
      <h3>
        <strong><%= raw @post_type.the_content %></strong>
      </h3>

      <% if @categories.present? %>
        <div class="categories_list">
          <%= render partial: "partials/categories_list", locals: {categories: @categories} %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<article id="post_type-view" class="post_type_<%= @post_type.slug %>">
  <div class="row">
    <% _tpl = lookup_context.template_exists?("post_types/#{@post_type.the_slug}/post_list_item", nil, true) ? "post_types/#{@post_type.the_slug}/post_list_item" : 'partials/post_list_item' %>
    <% @posts.each_with_index do |post, index| %>
        <%#= raw "<div class='clearfix'></div>" if index%3 == 0 && index > 0 %>
        <%= render partial: _tpl, locals: {post: post.decorate, index: index} %>
    <% end %>
  </div>
  <%= content_tag("div", raw(ct('no_contents_found', default: 'No contents found.')), class: "alert alert-warning") if @posts.empty? %>
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails if @posts.present? %>
</article>