<% services = current_theme.the_fields_grouped(['gel_services_title', 'gel_services_image', 'gel_services_descr', 'gel_services_url']) %>
<div class="containerdos">
  <div class="row">
    <% services.each_with_index do |item, index| %>
      <div class="carduno">
        <img class="card-img-top" height="200" src="<%= item['gel_services_image'].first %>" width="50" height="50" alt="<%= item['gel_services_title'].first %>">
        <div class="card-body">
          <h4 class="card-title">
            <%= item['gel_services_title'].first %>
          </h4>
          <p class="card-text">
            <%= item['gel_services_descr'].first %>
          </p>
          <a href="<%= item['gel_services_url'].first %>" class="btn btn-primary">Go</a>
        </div>
      </div>
    <% end %>
</div>

<form>
  First name:<br>
  <input type="text" name="firstname" value="">
  <br>
  Last name:<br>
  <input type="text" name="lastname" value="">
  <br><br>
  <input type="submit" value="Submit">
</form> 

<%= form_tag(action: "savon_soap", method: "get") do %>
<p>
  <%= text_field_tag :zip_code, params[:zip_code] %>
  <%= submit_tag "Lookup", name: nil %>
</p>
<% end %>