<!-- Seccion de busqueda -->
<section id="app-busqueda">
  <div class="container">
    <div class= "row justify-content-center">
      <div class="col-8 mt-5">
        <%= render partial: 'partials/search_form' %>
      </div>
    </div>
  </div>
</section>
<!-- /Seccion de busqueda -->
<!-- Seccion de noticias -->
<section id="app-noticias">
  <div class="container">
    <div class="row">
      <!-- Carrusel -->
      <% slides = current_theme.the_fields_grouped(['gel_slider_title', 'gel_slider_image', 'gel_slider_descr']) %>
      <div id="carouselExampleIndicators" class="my-carousel carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <% slides.each_with_index do |i, index| %>
              <li data-target="#carouselExampleIndicators" data-slide-to="<%= index + 1 %>" class="><%= 'active' if index == 0 %>"></li>
          <% end %>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <% slides.each_with_index do |item, index| %>
              <div class="carousel-item <%= 'active' if index == 0 %>">
                <img class="d-block w-100" src="<%= item['gel_slider_image'].first %>" alt="<%= item['gel_slider_title'].first %>">
                <div class="carousel-caption d-none d-md-block">
                  <h3> <%= item['gel_slider_title'].first %> </h3>
                  <p> <%= item['gel_slider_descr'].first %></p>
                </div>
              </div>
          <% end %>
        </div>

        <!-- Controls -->
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <!-- /Carrusel -->
      <!-- Noticias -->
      <div class="col-6">
        <div class="container">
          <div class="row">
            <h3 class="mt-3">
              <strong>Noticias</strong>
            </h3>
          </div>
          <div class="row mt-2">
            <% current_site.the_posts(current_theme.get_field("recent_post_type")).latest.limit(current_theme.get_field("home_qty")).decorate.each do |post| %>
              <div class="col-12 col-sm-6 img-left">
                <div class="relative">
                  <img class="img-fluid" src="<%= post.the_thumb_url%>" alt="img">
                  <a href="<%= post.the_url %>" class="badge-corner badge-success"><span>27 dic</span></a>
                  <p><%= post.the_title %></p>
                </div>
              </div>
            <% end %> 
            <div class="col-12 col-sm-6 img-left">
              <div class="relative">
                <img class="img-fluid" src="http://www.todopaisajes.com/Imagenes/paisaje-de-flores.jpg" alt="img noticia">
                <a href="#" class="badge-corner badge-success"><span>27 dic</span></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>
            <div class="col-12 col-sm-6 img-right">
              <img class="img-fluid" src="http://www.todopaisajes.com/Imagenes/paisaje-de-flores.jpg" alt="img noticia">
              <a href="#" class="badge-corner badge-success"><span>27 dic</span></a>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-center">
              <button class="btn btn-outline-dark">Más noticias</button>
            </div>
          </div>
        </div>
      </div>
      <!-- /Noticias -->
    </div>
  </div>
</section>
</div>
<!-- /Primer viewport -->

<!-- Segundo viewport -->
<div id="seccion2">
<!-- Seccion de tramites -->
<section id="app-tramites">
  <div class="container">
    <div class="row">
      <div class="col-6 tramites text-center mt-5">
        <h4>Trámites y servicios</h4>
        <% services = current_theme.the_fields_grouped(['gel_services_title', 'gel_services_image', 'gel_services_descr', 'gel_services_url']) %>
        <div class="containerdos">
          <div class="row">
            <% services.each_with_index do |item, index| %>
              <div class="carduno">
                <img class="card-img-top" height="200" src="<%= item['gel_services_image'].first %>" width="50" height="50" alt="<%= item['gel_services_title'].first %>">
                <div class="card-body">
                  <h4 class="card-title">
                    <%= item['gel_services_title'].first %>
                  </h4>
                  <p class="card-text">
                    <%= item['gel_services_descr'].first %>
                  </p>
                  <a href="<%= item['gel_services_url'].first %>" class="btn btn-primary">Go</a>
                </div>
              </div>
            <% end %>
        </div>
      </div>

    </div>
  </div>
</section>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<!-- /Seccion de tramites -->
<!-- Seccion conocenos -->
<section id="app-conocenos">
  <div class="container">
    <div class="row">
      <div class="col-5">
        <div class="row mt-5">
          <div class="col-4 yotoco-imagen">
            <img src="./assets/paisaje.jpg" alt="Yotoco imagen 1">
          </div>
          <div class="col-4 yotoco-imagen">
            <img src="./assets/paisaje.jpg" alt="Yotoco imagen 1">
          </div>
          <div class="col-4 yotoco-imagen">
            <img src="./assets/paisaje.jpg" alt="Yotoco imagen 1">
          </div>
        </div>
        <div class="row">
          <div class="col-4 yotoco-imagen">
            <img src="./assets/paisaje.jpg" alt="Yotoco imagen 1">
          </div>
          <div class="col-4 yotoco-imagen">
            <img src="./assets/paisaje.jpg" alt="Yotoco imagen 1">
          </div>
          <div class="col-4 yotoco-imagen">
            <img src="./assets/paisaje.jpg" alt="Yotoco imagen 1">
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-6 mt-5 pl-5">
            <button class="btn btn-outline-success">Galeria del municipio</button>
          </div>
          <div class="col-6 mt-5">
            <button class="btn btn-outline-success">Galeria del municipio</button>
          </div>
        </div>

      </div>
      <div class="col-6">
        <div class="row mt-1">
          <div class="col mt-5 ml-5">
            <h4 class="text-success">Conoce nuestro municipio</h4>
            <div class="text-white conocenos-yotoco">
              <p>
                <small>Yotoco, fue fundado el 15 de Septiembre de 1622, por el Capitán Diego Rengifo Salazar, aprovechando el
                  asiento de la familia de los Yotocoes o Yotocos, en 1858 adquiere la categoría de aldea, y en 1864
                  recobra la calidad distrital y es bautizado con el nombre de Sucre, nombre que dejó de figurar en la
                  división territorial que se otorgó al Municipio en 1868. En 1908 por medio del Decreto especial # 455,
                  se anexo al Distrito de Buga. Con la Ley 23 de 1912, Yotoco fue anexado a Cali. Por Ultimo en cumplimiento
                  de la Ley l28 de 1912, Volvió a pertenecer al Distrito de Buga hasta que fue eregido Municipio. </small>
              </p>
              <p>
                <small>Extensión total: 873 Kilimetros Km2</small>
              </p>
              <p>
                <small>Altitud de la cabecera municipal(metros sobre niveldel mar): 972 MTS</small>
              </p>
              <p>
                <small>Temperatura media: 24º Cº C</small>
              </p>
              <p>
                <small>Distancia de referencia: 56.4 kme la ciudad de Cali.</small>
              </p>
            </div>
          </div>
        </div>
        <div class="row conocenos-mas">
          <div class="col">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="#">&#9679; Vias de comunicaciones</a>
              </li>
              <li class="list-inline-item">
                <a href="#">&#9679; Ecologia</a>
              </li>
              <li class="list-inline-item">
                <a href="#">&#9679; Economia</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Seccion conocenos -->
</div>
<!-- /Segundo viewport -->
<!-- Tercer viewport -->
<div id="seccion3">
<!-- Seccion canales -->
<section id="app-canales" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-6 mt-5">
        <div class="row mt-5 ml-3">
          <div class="col-9">
            <p>PARTICIPACION CIUDADANA</p>
            <h3>En contacto con la comunidad</h3>
            <p>
              <small>Ofrecemos canales de atención y participación para nuestos ciudadanos</small>
            </p>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row mt-5">
          <div class="col yotoco-content mt-5">
            <div class="row ml-5 mt-4">
              <div class="col-2 icon text-center">
                <i class="fa fa-list-ol" aria-hidden="true"></i>
                <p>Foros</p>
              </div>
              <div class="col-2 icon text-center">
                <i class="fa fa-check-square" aria-hidden="true"></i>
                <p>Datos abiertos</p>
              </div>
              <div class="col-2 icon text-center">
                <i class="fa fa-list-ul" aria-hidden="true"></i>
                <p>Foros</p>
              </div>
              <div class="col-2 icon text-center">
                <i class="fa fa-list-alt" aria-hidden="true"></i>
                <p>Foros</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Seccion canales -->

<!-- Seccion colaboradores -->
<section id="app-colaboradores">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="row justify-content-between mt-3">
        <div class="col-2">
          <img src="./assets/mpg.png" alt="MPG logo">
        </div>
        <div class="col-2">
          <img src="./assets/sirvo_mi_pais.png" alt="Sirvo mi pais logo">
        </div>
        <div class="col-2">
          <img src="./assets/no_filas.png" alt="No Filas logo">
        </div>
        <div class="col-2">
          <img src="./assets/colombia_compra_eficiente.png" alt="colombia compra eficiente logo">
        </div>
        <div class="col-2">
          <img src="./assets/urna_cristal.png" alt="urna cristal logo">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Seccion colaboradores -->