<!-- Seccion de busqueda -->
<section id="app-busqueda" style="background: url(<%= current_theme.the_field("main_image") %>)">
  <div class="container">
    <div class= "row justify-content-center">
      <div class="col-8 mt-5">
        <%= render partial: 'partials/search_form' %>
      </div>
    </div>
  </div>
</section>
<!-- /Seccion de busqueda -->
<!-- Seccion de noticias -->
<section id="app-noticias">
  <div class="container">
    <div class="row">
      <!-- Carrusel -->
      <% slides = current_theme.the_fields_grouped(['gel_slider_title', 'gel_slider_image', 'gel_slider_descr']) %>
      <div id="carouselExampleIndicators" class="my-carousel carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <% slides.each_with_index do |i, index| %>
              <li data-target="#carouselExampleIndicators" data-slide-to="<%= index + 1 %>" class="><%= 'active' if index == 0 %>"></li>
          <% end %>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <% slides.each_with_index do |item, index| %>
              <div class="carousel-item <%= 'active' if index == 0 %>">
                <img class="d-block w-100" src="<%= item['gel_slider_image'].first %>" alt="<%= item['gel_slider_title'].first %>">
                <div class="carousel-caption d-none d-md-block">
                  <h3> <%= item['gel_slider_title'].first %> </h3>
                  <p> <%= item['gel_slider_descr'].first %></p>
                </div>
              </div>
          <% end %>
        </div>

        <!-- Controls -->
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <!-- /Carrusel -->
      <!-- Noticias -->
      <div class="col-6">
        <div class="container">
          <div class="row">
            <h3 class="mt-3 ml-3">
              <strong>Noticias</strong>
            </h3>
          </div>
          <div class="row mt-2">
            <% current_site.the_posts(current_theme.get_field("recent_post_type")).latest.limit(4).decorate.each do |post| %>
              <div class="col-12 col-sm-6 img-left">
                <div class="relative">
                  <img class="img-fluid" src="<%= post.the_thumb_url%>" alt="img">
                  <a href="<%= post.the_url %>" class="badge-corner badge-success"><span>27 dic</span></a>
                  <p><%= post.the_title %></p>
                </div>
              </div>
            <% end %> 
            <div class="col-12 col-sm-6 img-left">
             
            </div>
            <div class="col-12 col-sm-6 img-right">
          </div>
          <div class="row">
            <div class="col-12 text-center">
              <button class="btn btn-outline-dark">Más noticias</button>
            </div>
          </div>
        </div>
      </div>
      <!-- /Noticias -->
    </div>
  </div>
</section>
</div>
<!-- /Primer viewport -->

<!-- Segundo viewport -->
<div id="seccion2">
<!-- Seccion de tramites -->
<section id="app-tramites">
  <div class="container">
    <div class="row">
      <div class="col-6 tramites text-center mt-5">
        <h4>Trámites y servicios</h4>
        <% services = current_theme.the_fields_grouped(['gel_services_title', 'gel_services_image', 'gel_services_descr', 'gel_services_url']) %>
        <% services = services.take(3) %>
        <div class="jumbotron jumbotron-fluid mt-5">
        <div class="container">
          <div class="row">
            <% services.each_with_index do |item, index| %>
              <div class="col-6 mt-3">
                <a href="<%= item['gel_services_url'].first %>" target="_blank">
                  <img src="<%= item['gel_services_image'].first %>" width="50" height="50" alt="<%= item['gel_services_title'].first %>">
                </a>
                <p><%= item['gel_services_title'].first %></p>
              </div>
            <% end %>
            <div class="col-6 mt-3">
              <a href="/tramites-y-servicios">
                <i class="fa fa-plus-square" aria-hidden="true"></i>
              </a>
              <p>Consultar mas tramites</p>
            </div>
          </div>
        </div>
      </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- /Seccion de tramites -->

</div>
<!-- /Segundo viewport -->
<!-- Tercer viewport -->
<div id="seccion3">
<!-- Seccion canales -->
<section id="app-canales" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-6 mt-5">
        <div class="row mt-5 ml-3">
          <div class="col-9">
            <p>PARTICIPACION CIUDADANA</p>
            <h3>En contacto con la comunidad</h3>
            <p>
              <small>Ofrecemos canales de atención y participación para nuestos ciudadanos</small>
            </p>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row mt-5">
          <div class="col yotoco-content mt-5">
            <div class="row ml-5 mt-4">
              <div class="col-2 icon text-center">
                <i class="fa fa-list-ol" aria-hidden="true"></i>
                <p>Foros</p>
              </div>
              <div class="col-2 icon text-center">
                <i class="fa fa-check-square" aria-hidden="true"></i>
                <p>Datos abiertos</p>
              </div>
              <div class="col-2 icon text-center">
                <i class="fa fa-list-ul" aria-hidden="true"></i>
                <p>Foros</p>
              </div>
              <div class="col-2 icon text-center">
                <i class="fa fa-list-alt" aria-hidden="true"></i>
                <p>Foros</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Seccion canales -->

<!-- Seccion colaboradores -->
<% services = current_theme.the_fields_grouped(['gel_collaborators_title', 'gel_collaborators_image', 'gel_collaborators_url']) %>
<section id="app-colaboradores">
  <div class="row justify-content-center">
    <div class="col-8 offset-1">
      <ul class="list-inline">
        <% services.each_with_index do |item, index| %>
          <li class="list-inline-item">
            <a href="<%= item['gel_collaborators_url'].first %>" target="_blank">
              <%= image_tag item['gel_collaborators_image'].first, class: "img-fluid" %>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</section>
<!-- /Sección colaboradores -->